body {
  background-color: #f5f5dc;
}


.menyy-nupp {
  color: black;
  font-weight: bolder;
  background-color: rgb(164, 197, 103);
  width: 150px;
  height: 25px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.menyy-nupp:hover {
  transition: .1s;
  transform: scale(1.05);
  cursor:pointer;
  box-shadow: 0 8px 180px 0px rgb(34, 65, 34);
  }

a {
  text-decoration: none;
  color: black;
}

img {
width: 100px;
border-radius: 20px;


}


.buttonStyle {
  text-align: center;
  color:#d3d3d3;
  background-color: #008000;
  padding: 10px;
  margin: 50px;
  cursor:grab;
}


.App {
  text-align: center;
}

