.toode img {
  height: 100px;
}
a {
  text-decoration: none;
  color: black;
}
.red {
  background-color: rgb(224, 107, 107);
  font-weight: bold;
}


.App {
  text-align: center;
  text-decoration: double;
}


